
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

/*pretendard*/


@font-face {
    font-family: 'Eulyoo1945';
	font-style: normal;
    font-weight: 400;
    src: url('../font/Eulyoo1945-Regular.eot');
    src:url('../font/Eulyoo1945-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/Eulyoo1945-Regular.woff2') format('woff2'),
    url('../font/Eulyoo1945-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Eulyoo1945';
	font-style: normal;
    font-weight: 600;
    src: url('../font/Eulyoo1945-SemiBold.eot');
    src:url('../font/Eulyoo1945-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../font/Eulyoo1945-SemiBold.woff2') format('woff2'),
    url('../font/Eulyoo1945-SemiBold.woff') format('woff');
}
/*eulyoo1945*/