@import url(common.css);
body {
    padding:  0 0 500px 0;
    position: relative;
}

header {
    background-color: #fff;
    position: absolute;
    left : 30px;
    top: 48px;
    width: calc(100% - 60px);
    height: 80px;
    z-index: 100;   /*헤더를 맨 위에 배치하기 위함*/

}
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .gnb ul {
    display: flex;
}
.visual {
    background: url(../images/visual_bg.jpg);
    color: #fff;

}
.visual h2{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.02em;
    padding: 359px 0 28px 0;
}
.visual .wrapper {
    height: 800px;
    position: relative;  /*버튼의 정렬 기준*/


}
.visual button {
    display: block;
    width: 154px;
    height: 154px;
    border-radius: 50%;
    background-color: #990012;
    position: absolute;
    right: -77px;
    bottom: -77px;

}


.f_nav {
    margin: 50px 0 50px 0;
}
.f_nav ul {
    display: flex;
    gap : 0 43px;
}
.f_nav ul li {
    position: relative;
}
.f_nav ul li:nth-child(1)::before {
    display: none;
}
.f_nav ul li::before {
    content: "";
    width: 1px;
    height: 13px;
    background-color: rgb(0, 0, 0, 0.3);
    display: block;
    position: absolute;
    left: -22px;
    top: 5px;
}

.btn_svg, 
.btn_path, 
.btn_path_ab,
.btn_bg,
.btn_ico {
    margin: 50px 0 50px 0 ;

}
.btn_svg a {
    border: 1px solid #111;
    border-radius: 30px;
    padding: 8px 73px 8px 23px;
    margin: 33px 0 0 0;
    display: inline-block;
    position: relative;
}
.btn_svg a::after {
    content: "";
    position: absolute;
    top: 14px;
    right: 20px;
    background: url(../images/btn_arr01.svg) no-repeat center center;
    width: 14px;
    height: 14px;
}
.btn_svg a:hover {
    background-color: #111;
    color: #fff; 
}
.btn_svg a:hover::after {
    background-image: url(../images/btn_arr02.svg);
}
.btn_path a {
    border: 1px solid #111;
    border-radius: 30px;
    padding: 8px 15px 8px 23px;
    margin: 33px 0 0 0;
    display: inline-flex;
    gap: 0 12px;
    align-items: center;
}
.btn_path a:hover {
    background-color: #111;
    color: #fff;

}
.btn_path a:hover svg path {
    fill: #fff;
}
.btn_path span {
    margin: 0 30px 0 0;
}
.btn_path_ab a {
    border: 1px solid #111;
    border-radius: 30px;
    padding: 8px 73px 8px 23px;
    margin: 33px 0 0 0;
    display: inline-block;
    position: relative;
}
.btn_path_ab a svg {
    position: absolute;
    top: 13px;
    right: 18px;
}
.btn_bg a {
    border: 1px solid #111;
    border-radius: 30px;
    padding: 8px 73px 8px 23px;
    margin: 33px 0 0 0;
    display: inline-block;
    position: relative;
}
.btn_bg a::after {
    content: "";
   position: absolute;
    top: 14px;
    right: 20px;
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2414 7.68751H0.8125C0.617403 7.68751 0.454083 7.62166 0.322542 7.48997C0.190847 7.35842 0.125 7.1951 0.125 7.00001C0.125 6.80491 0.190847 6.64159 0.322542 6.51005C0.454083 6.37835 0.617403 6.31251 0.8125 6.31251H11.2414L6.50294 1.57403C6.36666 1.43775 6.29936 1.27825 6.30104 1.09553C6.30288 0.912805 6.37483 0.750326 6.51692 0.60809C6.65915 0.475326 6.82018 0.406576 7 0.40184C7.17982 0.397104 7.34085 0.465854 7.48308 0.60809L13.295 6.41999C13.3808 6.50585 13.4413 6.59637 13.4765 6.69155C13.5118 6.78673 13.5294 6.88955 13.5294 7.00001C13.5294 7.11047 13.5118 7.21328 13.4765 7.30846C13.4413 7.40365 13.3808 7.49417 13.295 7.58003L7.48308 13.3919C7.35612 13.5189 7.19892 13.5838 7.01146 13.5867C6.824 13.5896 6.65915 13.5247 6.51692 13.3919C6.37483 13.2497 6.30379 13.0864 6.30379 12.902C6.30379 12.7174 6.37483 12.554 6.51692 12.4118L11.2414 7.68751Z' fill='%231C1B1F'/%3E%3C/svg%3E%0A");
}
.btn_bg a:hover {
    background-color: #111;
    color: #fff; 
}
.btn_bg a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2414 7.68751H0.8125C0.617403 7.68751 0.454083 7.62166 0.322542 7.48997C0.190847 7.35842 0.125 7.1951 0.125 7.00001C0.125 6.80491 0.190847 6.64159 0.322542 6.51005C0.454083 6.37835 0.617403 6.31251 0.8125 6.31251H11.2414L6.50294 1.57403C6.36666 1.43775 6.29936 1.27825 6.30104 1.09553C6.30288 0.912805 6.37483 0.750326 6.51692 0.60809C6.65915 0.475326 6.82018 0.406576 7 0.40184C7.17982 0.397104 7.34085 0.465854 7.48308 0.60809L13.295 6.41999C13.3808 6.50585 13.4413 6.59637 13.4765 6.69155C13.5118 6.78673 13.5294 6.88955 13.5294 7.00001C13.5294 7.11047 13.5118 7.21328 13.4765 7.30846C13.4413 7.40365 13.3808 7.49417 13.295 7.58003L7.48308 13.3919C7.35612 13.5189 7.19892 13.5838 7.01146 13.5867C6.824 13.5896 6.65915 13.5247 6.51692 13.3919C6.37483 13.2497 6.30379 13.0864 6.30379 12.902C6.30379 12.7174 6.37483 12.554 6.51692 12.4118L11.2414 7.68751Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}
.btn_ico a {
    border: 1px solid #111;
    border-radius: 30px;
    padding: 8px 73px 8px 23px;
    margin: 33px 0 0 0;
    display: inline-block;
    position: relative;
}
.btn_ico a i {
    position: absolute;
    top: 9px;
    right: 21px;
}
.btn_ico a:hover {
    background-color: #111;
    color: #fff;
}   