@font-face {
    font-family: 'Gow';
    src: url('../font/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('../font/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Pretendard";
    src: url('../font/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

/*pretendard*/
