@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css);



h2 {
    font-size: 120px;
    text-align: center;
}

.visual {
    background-color: maroon;
    color: #fff;
}
.tree {
    color: #1d1d1d;
    
}
.work {
    background-color: saddlebrown;
    color: #fff;
    
}
.news {
    color: #1d1d1d;
    
}
footer {
    background-color: #1d1d1d;
    color: #fff;
}



#fp-nav ul li {
    width: auto;
    height: auto;
    margin: 30px 0;
}
#fp-nav ul li a {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
}
#fp-nav ul li a span {
    display: none;
}
#fp-nav ul li .fp-tooltip {
    position: relative;
    top: auto;
    left: auto;
    color: var(--white80);
    font-size: inherit;
    font-family: inherit;
    max-width: 100%;
    overflow: visible;
    opacity: 1;
    width: auto;
}
