/********************************************************
* 파 일 명 : sub.css
* 작 성 자 : 김솔이
* 작 성 일 : 25-10-23
* 설    명 : 메인을 제외한 모든 페이지에서 호출되는 css
            서브에 필요한 css를 import 하는 역할과
            서브의 레이아웃을 퍼블리싱함 (서브의 공통 스타일)
*********************************************************/

@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css);
@import url(contents.css);

.sub_visual {
    height: 346px;
    background: url(../images/sub/sub_visual00.jpg) no-repeat center center / cover;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.sub_visual.bg2 {
    background: url(../images/sub/sub_visual01.jpg) no-repeat center center / cover;
}
.sub_visual.bg3 {
    background: url(../images/sub/sub_visual02.jpg) no-repeat center center / cover;
}
.sub_visual.bg4 {
    background: url(../images/sub/sub_visual03.jpg) no-repeat center center / cover;
}
.sub_visual.bg5 {
    background: url(../images/sub/sub_visual04.jpg) no-repeat center center / cover;
}
.sub_visual .breadcrumb ol {
    display: flex;
    gap: 0 3.2941em;
    align-items: center; /* 위아래 가운데 */
    padding-left: 3px;
}
.sub_visual .breadcrumb ol li {
    position: relative; /*after 정렬의 기준*/
}
.sub_visual .breadcrumb ol li::after {
    content: "";
    position: absolute;
    right: -1.7647em;
    top: 0.4706em;
    width: 0.2888em;
    height: 0.49em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 5 9' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.739583 8.33333L0 7.59375L3.42708 4.16667L0 0.739583L0.739583 0L4.90625 4.16667L0.739583 8.33333Z' /%3E%3C/svg%3E%0A");
}
.sub_visual .breadcrumb ol li.home::after {
    top:0.1765em;
}
.sub_visual .breadcrumb ol li:last-child::after {
    display: none;
}
.sub_visual .breadcrumb ol li.home a {
    display: block;
    width: 0.7206em;
    height: 0.7453em;
    margin-bottom: 0.1176em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 13' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 12.6707V4.23319L5.625 0L11.25 4.23319V12.6707H7.05281V7.6515H4.19719V12.6707H0Z'/%3E%3C/svg%3E%0A");
}
.sub_tit {
    margin: 17px 0 74px 0;
    font-size: var(--titsize);
    line-height: 1.3;
    font-weight: var(--bold);
}

.snb {
    height: 66px;
    border-bottom: 1px solid var(--light2);
}
.snb ul {
    display: flex;
    justify-content: center;
}
.snb ul li a {
    display: block;
    padding: 0 32px;
    line-height: 66px;
    position: relative;
}
.snb ul li a::after {
    position: absolute;
    content: "";
    right: 0;
    top: 27px;
    width: 1px;
    height: 13px;
    background-color: var(--light2);
}
.snb ul li:last-child a::after {
    display: none;
}
.snb ul li.active a span{
    color: var(--main-c);
    font-weight: var(--bold);
    position: relative;
}
.snb ul li.active a span::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6px;
    width: 100%;
    height: 2px;
    background-color: var(--main-c);
} 
.contents {
    min-height: 500px;
}
.contents .page_tit {
    margin: 66px 0 48px;
    text-align: center;
    font-size: var(--titsize);
    font-weight: var(--bold);
    color: var(--tit-c);
    line-height: 1.3;
}

@media screen and (max-width:768px){ 

    .sub_visual {
        height: 234px;
    }
    .sub_visual .breadcrumb {
        font-size: 13px;
    }
    .sub_visual .breadcrumb ol li.home::after {
        top:0.1em;
    }
    .sub_visual .breadcrumb ol li.home a {
        margin-bottom: 0.1em;
    }
    .sub_tit {
        margin: 9px 0 26px 0;
        font-size: var(--titsize);
        line-height: 1.3;
        font-weight: var(--bold);
    }
    .snb {
        height: 47px;
        border-bottom: 1px solid var(--light2);
    }
    .snb ul {
        justify-content: flex-start;
        overflow-y: hidden;
        overflow-x: auto;
        -ms-overflow-style: none;  /* IE, Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .snb ul::-webkit-scrollbar {
        display: none;
    }
    
    .snb ul li a {
        line-height: 47px;
        padding: 0 17px;
    }
    .snb ul li a::after {
        display: none;
    }
    .snb ul li.active a span::after {

        bottom: -12px;
        width: 110%;

    } 
}

@media screen and (max-width:360px){ 

    .sub_tit {
        font-size: 25px;
    }
}


/***********************
*테이블 공통스타일
*************************/
.table_wrap {
    overflow-x: auto;
}
.table_wrap table {
    width: 100%;
    border-collapse: collapse; /*테이블에는 각각의 테두리를 th나 td의 border로 준다, 이 때 각 셀 사이의 여백을 삭제하고, 각 border를 중첩시켜 2px로 늘지 않게 한다
                                이건 오직 테이블에만 들어가는 속성*/
    min-width: 600px;
    border-top: 3px solid var(--tit-c);
}
.table_wrap table th,
.table_wrap table td {
    border: 1px solid var(--light2);
    padding: 20px 20px ;
}
.table_wrap table th:first-child,
.table_wrap table td:first-child {
    border-left: 0;
} 
.table_wrap table th:last-child,
.table_wrap table td:last-child {
    border-right: 0;
} 
.table_wrap table thead th,
.table_wrap table thead td {
    background-color: var(--light);
    font-weight: var(--bold);
    color: var(--tit-c);
    text-align: center;
}
.table_wrap  table tbody th {
    text-align: left;
    background-color: var(--light);
}
.table_wrap.count table tbody td {
    text-align: right;
}