@import url(common.css);
@import url(default.css);
@import url(font.css);
@import url(layout.css);

.visual {
    position: relative;
}
.visual .swiper {
    width: 100%;
    height: 100dvh;
}
.visual .swiper .swiper-slide {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.visual .swiper .swiper-slide .photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.visual .swiper .swiper-slide .photo::before {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-color: var(--dark);
    opacity: 0.7;
    z-index: 5;
    transition: 2s;
}
.visual .swiper .swiper-slide .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale3d(1.2, 1.2, 1);
    transition: 4s;
}
.visual .swiper .swiper-slide.swiper-slide-active .photo::before {
    opacity: 0;
}
.visual .swiper .swiper-slide.swiper-slide-active .photo img {
    transform: scale3d(1, 1, 1);
}
.visual .swiper .swiper-slide .txt {
    z-index: 10;
    text-align: center;
}
.visual .swiper .swiper-slide .txt h2 {
    font-size: clamp(40px, 4vw, 60px);
    white-space: nowrap;
}
.visual .paging {
    position: absolute; 
    left:0; 
    bottom: 36%; 
    z-index:10; 
    width:100%; 
    display: flex; 
    justify-content: center; 
    gap: 0 5px;
}

.visual .paging .swiper-pagination-bullet {
    width: auto; 
    height: auto; 
    background: transparent; 
    margin: 0; 
    opacity: 1; 
    position: relative; 
    cursor: pointer; 
    border-radius: 50%;
    display:flex; 
    justify-content:center; 
    align-items:center; /* 가운데 동그라미와 svg선을 가운데 정렬하기 위한 스타일 */
}

.visual .paging .swiper-pagination-bullet:after {
    content:""; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 5px; 
    height: 5px; 
    border-radius: 50%; 
    background-color: var(--light); /* 가운데 동그라미 스타일 */
}
.visual .paging .swiper-pagination-bullet svg {
    width:16px; 
    height:16px; 
    overflow:visible; /* 원을 그리는 동그라미의 크기 */
    transform:rotate(-90deg); /* 12시 방향에서 시작하기 위해서 회전 */
}

.visual .paging .swiper-pagination-bullet svg .circle {
    fill: transparent; 
    stroke-linecap: round;
    stroke: var(--light); 
    stroke-width: 5; /* 동그라미를 그리는 선의 색상/두께 */
    stroke-dasharray: 250; 
    stroke-dashoffset: 250; /* 선 총 길이인데 너무 길면 애니메이션이 빨리 끝나고 짧으면 다 안그려짐 */
}

.visual .paging .swiper-pagination-bullet.swiper-pagination-bullet-active svg .circle {
    animation: progress 12.3s ease 1 forwards; /* 애니메이션이름, 시간, 가속도, 1번실행, 마지막상태유지 */
}

@keyframes progress{
0% { stroke-dashoffset: 250 }
100% { stroke-dashoffset: 0 }
}

.visual .scroll .scr_txt {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
    font-size: 13px;
    font-family: "SUIT";
    z-index: 20;

}
.visual .scroll .scr_bar {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
    width: 2px;
    height: 7%;
    background-color: var(--white20);
    overflow: hidden;
    z-index: 20;

}
.visual .scroll .scr_bar::after {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 40%;
    background-color: var(--light);
    animation: scr_bar 4s infinite linear;
    opacity: .8;
}

@keyframes scr_bar {
    0% { top: 0%;}
    50% { top: 50%;}
    100% {  top: 100%;}
}


@media screen and (max-width:768px){

    .visual {
        height: 90dvh;
    }

    .visual .txt {
        top: 35%;
    }
    .visual .swiper {
        width: 100%;
        height: 100%;
    }
    .visual .swiper .swiper-slide .txt h2 {
    white-space: wrap;
    margin-bottom: 13px;
    }
    .visual .paging {
        bottom:10%; 
    }

    .visual .scroll {
        display: none;
    }
}
.slogan {
    margin: 195px 0 0 0;
    width: 100%;
}
.slogan .slogan_wrap {
    margin-left: var(--wrapper-mar);
    width: calc(50% + 742px);
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 0 24px;
}

.slogan .tit {
    width: 50.69%;
    padding: 90px 0 0 0;
}

.slogan .tit h2 {
    margin: 30px 0 30px 0;
    font-size: var(--titsize);
    line-height: 1.3;
    font-weight: 700;
}
 
.slogan .slogan_wrap .photo_wrap {
    width: calc(100% - 210px);
    overflow: hidden;
    height: 640px;
}
.slogan .slogan_wrap .photo_wrap ul {
    display: flex;
    gap: 0 50px;
    animation: slogan_roll 40s  infinite linear;

}

@keyframes slogan_roll {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-233.4%); }
}

.slogan .slogan_wrap .photo_wrap ul li:nth-child(even) .photo {
    transform: translateY(100px);
} 
.slogan .slogan_wrap .photo_wrap ul li .photo {
    width: 342px;
    height: 465px;
    border-radius: 10px;
    overflow: hidden;
}
.slogan .slogan_wrap .photo_wrap ul li .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}