@import url(common.css);
@import url(default.css);
@import url(font.css);
@import url(layout.css);

.visual {
    width: 100%;
    height: 100dvh;
    position: relative;
}


.visual .swiper .swiper-slide .photo {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

}
.visual .swiper .swiper-slide .photo::before {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-color: var(--dark);
    opacity: 0.7;
    z-index: 5;
    transition: 2s;
}
.visual .swiper .swiper-slide .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale3d(1.2, 1.2, 1);
    transition: 4s;
}
.visual .swiper .swiper-slide.swiper-slide-active .photo::before {
    opacity: 0;
}
.visual .swiper .swiper-slide.swiper-slide-active .photo img {
    transform: scale3d(1, 1, 1);
}

.visual .paging {
    position: absolute; 
    left:0; 
    bottom: 36%; 
    z-index:10; 
    width:100%; 
    display: flex; 
    justify-content: center; 
    gap: 0 5px;
}

.visual .paging .swiper-pagination-bullet {
    width: auto; 
    height: auto; 
    background: transparent; 
    margin: 0; 
    opacity: 1; 
    position: relative; 
    cursor: pointer; 
    border-radius: 50%;
    display:flex; 
    justify-content:center; 
    align-items:center; /* 가운데 동그라미와 svg선을 가운데 정렬하기 위한 스타일 */
}

.visual .paging .swiper-pagination-bullet:after {
    content:""; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 5px; 
    height: 5px; 
    border-radius: 50%; 
    background-color: var(--light); /* 가운데 동그라미 스타일 */
}
.visual .paging .swiper-pagination-bullet svg {
    width:16px; 
    height:16px; 
    overflow:visible; /* 원을 그리는 동그라미의 크기 */
    transform:rotate(-90deg); /* 12시 방향에서 시작하기 위해서 회전 */
}

.visual .paging .swiper-pagination-bullet svg .circle {
    fill: transparent; 
    stroke-linecap: round;
    stroke: var(--light); 
    stroke-width: 5; /* 동그라미를 그리는 선의 색상/두께 */
    stroke-dasharray: 250; 
    stroke-dashoffset: 250; /* 선 총 길이인데 너무 길면 애니메이션이 빨리 끝나고 짧으면 다 안그려짐 */
}

.visual .paging .swiper-pagination-bullet.swiper-pagination-bullet-active svg .circle {
    animation: progress 12.3s ease 1 forwards; /* 애니메이션이름, 시간, 가속도, 1번실행, 마지막상태유지 */
}

@keyframes progress{
0% { stroke-dashoffset: 250 }
100% { stroke-dashoffset: 0 }
}

.visual .scroll {
    z-index: 10;
}

.visual .scroll .scr_txt {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
    font-size: 13px;
    font-family: "SUIT";
}
.visual .scroll .scr_bar {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
    width: 2px;
    height: 7%;
    background-color: var(--white20);
    overflow: hidden;
}
.visual .scroll .scr_bar::after {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 40%;
    background-color: var(--light);
    animation: scr_bar 4s infinite linear;
    opacity: .8;
}

@keyframes scr_bar {
    0% { top: 0%;}
    50% { top: 50%;}
    100% {  top: 100%;}
}


@media screen and (max-width:768px){

    .visual {
        height: 500px;
    }

    .visual .txt {
        top: 35%;
    }

    .visual .paging {
        bottom: 20%; 
        z-index:10; 
        width:100%; 
        display: flex; 
        justify-content: center; 
        gap: 0 5px;
    }

    .visual .scroll {
        display: none;
    }
}