
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

/*pretendard*/


@font-face {
    font-family: 'KKIM';
    src: url('../font/KIMM_Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'KKIM';
    src: url('../font/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
/*KKIM*/