@import url(default.css);
@import url(font.css);
@import url(common.css);

.mo {
    display: none;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--header-h);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    fill: var(--white);
    padding: var(--ctn-mar);
}
header .logo a{
    display: block;
    width: 238px;
    height: 29.1px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
header .util {
    display: flex;
    gap: 0 7px;
}
header .util .sch .sch_open{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
}
header .util .sch .sch_open i {
    display: block;
    width: 17px;
}
header .util .login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
}
header .util .login i {
    display: block;
    width: 17px;
}

/****************************
-----------only  PC버전---------
*****************************/

@media screen and (min-width:1025px) {
    header .gnb .gnb_open,
    header .gnb_wrap .gnb_close,
    header .gnb .gnb_wrap .gnb_logo {
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex; /*li 좌우배치*/
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-family: 'KKIM';
        font-size: 20px;
        padding: 0 1.8em;    
        line-height: var(--header-h);
        white-space: nowrap;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: none;
        position: absolute; /*1차 li기준 정렬*/
        left: 50%;
        transform: translateX(-50%);
        top: var(--header-h);
        min-width: 100%;
        padding: 18px 25px 25px 22px;
        background-color: var(--white);
        border-radius: 0 0 10px 10px;
        color: #555;
        text-align: center;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 5px 0;
        white-space: nowrap;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        color: var(--main-c);
        font-weight: 600;
    }
    /*********************************
-----------헤더 오버스타일--------------
**********************************/
    header.menu_pc {
        background-color: var(--white);
        color: var(--tit-c);
        fill: #555;
        border-bottom: 1px solid var(--line-c);
    }
    header.menu_pc .logo a{
        background: url(../images/logo.svg) no-repeat center center / contain;
    }

    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: var(--main-c);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span::before {
        position: absolute;
        content: "";
        bottom: -9px;
        left: 50%;
        transform: translate(-50%);
        transition: .5s;
        width: 100%;
        height: 1.5px;
        background-color: var(--main-c);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 {
        display: block;
    }
}

/*********************************
-----------pc버전 메뉴gnb 여백 및 사이즈 조정 ~~--------------
**********************************/
@media screen and (min-width:1025px) and (max-width:1360.8px) {
    
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 18px;
    }
}
@media screen and (min-width:1025px) and (max-width:1200px) {
    header .gnb .gnb_wrap ul.depth1 > li > a {
        padding: 20px;
    }
}

/************************************************
*모바일 메뉴-------------------------------------
***************************************/
@media screen and (max-width:1024px) {
    .mo {
        display: block;
    }   
    header {
        padding-right: 0;
        height: clamp(56px, 7vw, 80px);
    }
    header .gnb .gnb_wrap {
        display: none;
    }
    header .gnb .gnb_open {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--header-h);
        height: var(--header-h);
    }
    header .gnb .gnb_open i {
        display: block;
        width: 17px;
        height: 17px;
    }
    header .logo a{
        /* width: 151px;
        height: 20px; */
        width: clamp(151px, 22vw , 238px);
    }
    header .util {
        display: none;
    }
    header .util .sch .sch_open{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
    }
    header .util .sch .sch_open i {
        display: block;
        width: 17px;
    }
    header .util .login{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
    }
    header .util .login i {
        display: block;
        width: 17px;
    }


    /********************메뉴열림!!!!!**********************/
    header.menu_mo .gnb .gnb_wrap {
        display: block;
        position: absolute; /*header를 기준으로 들어감*/
        right: 0;
        top: 0;
        width: 100%;
        height: 100dvh;
        background-color: var(--white);
        color: #555;
        padding: var(--ctn-mar);
        padding-top: var(--header-h);
        fill: var(--main-c);
    }
}


.visual {
    position: relative; /*ctrl_btn 정렬기준*/
}
.visual .swiper-slide {
    height: 100dvh; /*브라우저 높이와 동일하게*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
    display: flex;
    align-items: flex-end;
    border-radius: 0 0 140px 140px;
}
.visual .swiper-slide.bg1 {
    background-image: url(../images/visual_bg01.jpg);
}
.visual .swiper-slide.bg2 {
    background-image: url(../images/visual_bg02.jpg);
}
.visual .swiper-slide.bg3 {
    background-image: url(../images/visual_bg03.jpg);
}
.visual .swiper-slide h3 {
    font-size: 50px;
    font-family: 'KKIM';
    line-height: var(--titline);
    /*글자애니메이션*/
    transition: 1s;
    transform: translateY(20px);
    opacity: 0;

}
.visual .swiper-slide.swiper-slide-active h3,
.visual .swiper-slide.swiper-slide-active p {
    opacity: 1;
    transform: translateY(0);
}

.visual .swiper-slide p {
    margin: 20px 0 calc(22vh + 25px) 0;
    transition: 1s;
    transform: translateY(20px);
    opacity: 0;
    transition-delay: .2s;
}

.visual .ctrl_btn {
    position: absolute;
    bottom: 16%;
    left: calc(50% - 630px);
    z-index: 10;
    display: flex;
    align-items: center;
}
.visual .ctrl_btn button {
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--white30);
    border-radius: 50%;
}
.visual .ctrl_btn .stop,
.visual .ctrl_btn .play {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 18px;

}
.visual .ctrl_btn .stop i,
.visual .ctrl_btn .play i {
    display: block;
    width: 8px;
    margin: 0 0 2px 0;
}
.visual .ctrl_btn .play {
   display: none;
}

.visual .ctrl_btn .paging {
    display: flex;
    align-items: center;
    gap: 0 11px;
    color: var(--white);
    font-family: 'KKIM';
    font-size: var(--btnsize);
}
.visual .ctrl_btn .paging .current,
.visual .ctrl_btn .paging .total {
    width: 12px;
}

.visual .ctrl_btn .paging .bar {
    width: 117px;
    height: 3px;
    background-color: var(--white30);
    position: relative;
}
.visual .ctrl_btn .paging .bar span {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--white);
}
@media screen and (max-width:1360.8px){
    .visual .ctrl_btn {
        left: 4%;
    }
}
@media screen and (max-width:1024px){
    .visual .ctrl_btn {
        left: 3%;
    }
}
@media screen and (max-width:768px){
    
    .mo {
        display: block;
    }
    .pc {
        display: none;
    }
    .visual {
        position: relative; /*ctrl_btn 정렬기준*/
    }
    .visual .swiper-slide {
        height: 361px; /*브라우저 높이와 동일하게*/
        border-radius: 0 0 20px 20px;
    }
    .visual .swiper-slide h3 {
        font-size: 24px;
        transform: translateY(20px);
        margin-bottom: 10vh;
    }

    .visual .ctrl_btn {
        bottom: 5dvh;
        left: 16px;
    }

    .visual .ctrl_btn button {
        display: block;
        width: 20px;
        height: 20px;
        background-color: var(--white30);
        border-radius: 50%;
    }
    .visual .ctrl_btn .stop,
    .visual .ctrl_btn .play {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 15px;
    
    }
    .visual .ctrl_btn .stop i,
    .visual .ctrl_btn .play i {
        display: block;
        width: 8px;
        margin: 0 0 2px 0;
    }
    .visual .ctrl_btn .play {
       display: none;
    }
    
    .visual .ctrl_btn .paging {
        display: flex;
        align-items: center;
        gap: 0 11px;
        color: var(--white);
        font-family: 'KKIM';
        font-size: var(--btnsize);
    }
    .visual .ctrl_btn .paging .current,
    .visual .ctrl_btn .paging .total {
        width: 12px;
    }
    
    .visual .ctrl_btn .paging .bar {
        width: 117px;
        height: 3px;
        background-color: var(--white30);
        position: relative;
    }

    .visual .ctrl_btn .paging .bar span {
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background-color: var(--white);
    }
}

footer {
    margin: 1300px 0 0 0;
}