@import url(default.css);
@import url(font.css);
@import url(common.css);

.mo {
    display: none;
}

header {
    transition: background-color .3s, color .3s, fill .3s;
}
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--header-h);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    fill: var(--white);
    padding: 0 var(--ctn-mar);
}
header .logo a{
    display: block;
    width: 238px;
    height: 29.1px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
header .util {
    display: flex;
    gap: 0 7px;
}
header .util .sch .sch_open{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
}
header .util .sch .sch_open i {
    display: block;
    width: 17px;
}
header .util .login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
}
header .util .login i {
    display: block;
    width: 17px;
}

/********************
*헤더가 fixed 일때!!!!!!!!!!!!!!!!!!!!!!!!
***********************/
header.fixed {
    background-color: var(--white);
    color: var(--tit-c);
    fill: var(--main-c);
    border-bottom: 1px solid var(--line-c);
}

header.fixed .logo a{
    background: url(../images/logo.svg) no-repeat center center / contain;
}

/****************************
-----------only  PC버전---------
*****************************/

@media screen and (min-width:1025px) {
    header .gnb .gnb_open,
    header .gnb_wrap .gnb_close,
    header .gnb .gnb_wrap .gnb_logo {
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex; /*li 좌우배치*/
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-family: 'KKIM';
        font-size: 20px;
        padding: 0 1.8em;    
        line-height: var(--header-h);
        white-space: nowrap;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: none;
        position: absolute; /*1차 li기준 정렬*/
        left: 50%;
        transform: translateX(-50%);
        top: var(--header-h);
        min-width: 100%;
        padding: 18px 25px 25px 22px;
        background-color: var(--white);
        border-radius: 0 0 10px 10px;
        color: #555;
        text-align: center;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 5px 0;
        white-space: nowrap;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        color: var(--main-c);
        font-weight: 600;
    }
    /*********************************
-----------헤더 오버스타일--------------
**********************************/
    header.menu_pc {
        background-color: var(--white);
        color: var(--tit-c);
        fill: var(--main-c);
        border-bottom: 1px solid var(--line-c);
    }
    header.menu_pc .logo a{
        background: url(../images/logo.svg) no-repeat center center / contain;
    }

    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: var(--main-c);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span::before {
        position: absolute;
        content: "";
        bottom: -9px;
        left: 50%;
        transform: translate(-50%);
        transition: .5s;
        width: 100%;
        height: 1.5px;
        background-color: var(--main-c);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 {
        display: block ;
    }
}

/*********************************
-----------pc버전 메뉴gnb 여백 및 사이즈 조정 ~~--------------
**********************************/
@media screen and (min-width:1025px) and (max-width:1360.8px) {
    
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 18px;
    }
}
@media screen and (min-width:1025px) and (max-width:1200px) {
    header .gnb .gnb_wrap ul.depth1 > li > a {
        padding: 20px;
    }
}

/************************************************
*모바일 메뉴-------------------------------------
***************************************/
@media screen and (max-width:1024px) {
    .mo {
        display: block;
    }   
    header {
        padding-right: 0;
        height: var(--header-var);
    }
    header .gnb .gnb_wrap {
        display: none;
    }
    header .gnb .gnb_open {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--header-var);
        height: var(--header-var);
    }
    header .gnb .gnb_open i {
        display: block;
        width: 17px;
        height: 17px;
    }
    header .logo a{
        /* width: 151px;
        height: 20px; */
        width: clamp(151px, 22vw , 238px);
        background-image: url(../images/logo_sw.svg);
    }
    header .util {
        display: none;
    }
    header .util .sch .sch_open{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
    }
    header .util .sch .sch_open i {
        display: block;
        width: 17px;
    }
    header .util .login{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
    }
    header .util .login i {
        display: block;
        width: 17px;
    }


    /********************모바일 메뉴 스타일**********************/
    header .gnb .gnb_wrap {
        display: block;
        position: absolute; /*header를 기준으로 들어감*/
        right: -100%;
        top: 0;
        width: 100%;
        height: 100dvh;
        background-color: var(--white);
        color: #555;
        fill: var(--main-c);
        transition: .5s;
    }
    header.menu_mo .gnb .gnb_wrap {   /********************메뉴열림!!!!!**********************/
        display: block;
        right: 0;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin: var(--header-var) 0 0 0;
        height: calc(100dvh - var(--header-var));
        padding: 25px 0 0 var(--ctn-mar);
        overflow-y: auto; /*주어진 공간보다 컨텐츠가 짧으면 그대로, 주어진 높이보다 컨텐츠가 길면 스크롤바*/
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        padding: 14px 50px 14px 0;
        font-size: 20px;
        font-family: 'KKIM';
        color: var(--tit-c);
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a {
        color: var(--main-c);
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        content: "";
        position: absolute;
        right: var(--ctn-mar);
        top: 26px;;
        width: 11px;
        height: 10px;
        background: url("data:image/svg+xml,%3Csvg viewBox='0 0 8 5' fill='%231D1D1D' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.99957 3.67203L0.86092 0.533385C0.778143 0.450607 0.680677 0.41026 0.568524 0.412343C0.456302 0.414496 0.358803 0.456962 0.276025 0.539739C0.193248 0.622586 0.151858 0.720086 0.151858 0.832239C0.151858 0.944392 0.193248 1.04189 0.276025 1.12474L3.46592 4.32099C3.54127 4.39634 3.62568 4.45217 3.71915 4.48849C3.81262 4.52481 3.90609 4.54297 3.99957 4.54297C4.09304 4.54297 4.18651 4.52481 4.27998 4.48849C4.37346 4.45217 4.45787 4.39634 4.53321 4.32099L7.72957 1.12474C7.81234 1.04189 7.85266 0.943316 7.8505 0.82901C7.84835 0.714705 7.80589 0.616163 7.72311 0.533385C7.64033 0.450607 7.54283 0.409219 7.43061 0.409219C7.31846 0.409219 7.22099 0.450607 7.13821 0.533385L3.99957 3.67203Z' /%3E%3C/svg%3E%0A") no-repeat center center;

    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        transform: rotate(180deg);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        margin: 7px calc(var(--ctn-mar) + 0px) 9px 0;
        padding: 18px 0 18px 16px;
        border-top: 1px solid var(--line-c);
        border-bottom: 1px solid var(--line-c);
        display: none;
    }
    /* header .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2 {
        display: block;
    } */
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 5px 0 5px 0;
    }
    
    header .gnb .gnb_wrap .gnb_logo {
        position: absolute; /*gnb wrap 기준*/
        left: var(--ctn-mar);
        top: 0;
        width: clamp(151px, 22vw , 238px);
        height: var(--header-var);
        background: url(../images/logo_sc.svg) no-repeat center center / contain;
    }
    header .gnb .gnb_wrap .gnb_close {
        position: absolute; /*gnb wrap 기준*/
        right: 0;
        top: 0;
        width: var(--header-var);
        height: var(--header-var);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header .gnb .gnb_wrap .gnb_close i {
        display: block;
        width: 28.57%;
        margin-top: 6px;
        
    }

        /**********픽스!!!!!*********/
    header.fixed .logo a{
        background: url(../images/logo_sc.svg) no-repeat center center / contain;
    }
    
}


.visual {
    position: relative; /*ctrl_btn 정렬기준*/
}
.visual .swiper-slide {
    height: 100dvh; /*브라우저 높이와 동일하게*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
    display: flex;
    align-items: flex-end;
    border-radius: 0 0 140px 140px;
}
.visual .swiper-slide.bg1 {
    background-image: url(../images/visual_bg01.jpg);
}
.visual .swiper-slide.bg2 {
    background-image: url(../images/visual_bg02.jpg);
}
.visual .swiper-slide.bg3 {
    background-image: url(../images/visual_bg03.jpg);
}
.visual .swiper-slide h3 {
    font-size: 50px;
    font-family: 'KKIM';
    line-height: var(--titline);
    /*글자애니메이션*/
    transition: 1s;
    transform: translateY(20px);
    opacity: 0;

}
.visual .swiper-slide.swiper-slide-active h3,
.visual .swiper-slide.swiper-slide-active p {
    opacity: 1;
    transform: translateY(0);
}

.visual .swiper-slide p {
    margin: 20px 0 calc(22vh + 25px) 0;
    transition: 1s;
    transform: translateY(20px);
    opacity: 0;
    transition-delay: .2s;
}

.visual .ctrl_btn {
    position: absolute;
    bottom: 16%;
    left: calc(50% - 630px);
    z-index: 10;
    display: flex;
    align-items: center;
}
.visual .ctrl_btn button {
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--white30);
    border-radius: 50%;
}
.visual .ctrl_btn .stop,
.visual .ctrl_btn .play {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 18px;

}
.visual .ctrl_btn .stop i,
.visual .ctrl_btn .play i {
    display: block;
    width: 8px;
    margin: 0 0 2px 0;
}
.visual .ctrl_btn .play {
   display: none;
}

.visual .ctrl_btn .paging {
    display: flex;
    align-items: center;
    gap: 0 11px;
    color: var(--white);
    font-family: 'KKIM';
    font-size: var(--btnsize);
}
.visual .ctrl_btn .paging .current,
.visual .ctrl_btn .paging .total {
    width: 12px;
}

.visual .ctrl_btn .paging .bar {
    width: 117px;
    height: 3px;
    background-color: var(--white30);
    position: relative;
}
.visual .ctrl_btn .paging .bar span {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--white);
}
@media screen and (max-width:1360.8px){
    .visual .ctrl_btn {
        left: 4%;
    }
}
@media screen and (max-width:1024px){
    .visual .ctrl_btn {
        left: 3%;
    }
}
@media screen and (max-width:768px){
    
    .mo {
        display: block;
    }
    .pc {
        display: none;
    }
    .visual {
        position: relative; /*ctrl_btn 정렬기준*/
    }
    .visual .swiper-slide {
        height: 361px; /*브라우저 높이와 동일하게*/
        border-radius: 0 0 20px 20px;
    }
    .visual .swiper-slide h3 {
        font-size: 24px;
        transform: translateY(20px);
        margin-bottom: 10vh;
    }

    .visual .ctrl_btn {
        bottom: 5dvh;
        left: 16px;
    }

    .visual .ctrl_btn button {
        display: block;
        width: 20px;
        height: 20px;
        background-color: var(--white30);
        border-radius: 50%;
    }
    .visual .ctrl_btn .stop,
    .visual .ctrl_btn .play {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 15px;
    
    }
    .visual .ctrl_btn .stop i,
    .visual .ctrl_btn .play i {
        display: block;
        width: 8px;
        margin: 0 0 2px 0;
    }
    .visual .ctrl_btn .play {
       display: none;
    }
    
    .visual .ctrl_btn .paging {
        display: flex;
        align-items: center;
        gap: 0 11px;
        color: var(--white);
        font-family: 'KKIM';
        font-size: var(--btnsize);
    }
    .visual .ctrl_btn .paging .current,
    .visual .ctrl_btn .paging .total {
        width: 12px;
    }
    
    .visual .ctrl_btn .paging .bar {
        width: 117px;
        height: 3px;
        background-color: var(--white30);
        position: relative;
    }

    .visual .ctrl_btn .paging .bar span {
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background-color: var(--white);
    }
}

.find {
    margin: 143px 0 0 0;
} 
.find h2 {
    color: var(--tit-c);
    text-align: center;
    font-family: 'KKIM';
    font-size: var(--titsize);
}
.find .tab_list {
    margin: 26px 0 0 0;
    
}
.find .tab_list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp( 20px, 2vw, 63px);
}
.find .tab_list ul li button{
    display: block;
    padding: 5px 5px;
    border-bottom: 2px solid transparent;
    font-size: var(--titsize-sub);
    color: #aaa;
}
.find .tab_list ul li.item1.active button {
    border-bottom: 2px solid var(--main-c);
    color: var(--main-c);
}
.find .tab_list ul li.item2.active button {
    border-bottom: 2px solid #CF9942;
    color: #CF9942;
}
.find .tab_ctn {
    margin: 46px 0 0 0;
    
}
.find .tab_ctn .tab_item{
    position: relative;
    display: none;
}
.find .tab_ctn .tab_item.active {
    display: block;
}
.find .tab_ctn .tab_item .list .swiper-slide {
    width: 173px;
}
.find .tab_ctn .tab_item .list .swiper-slide a{
    display: block;
}
.find .tab_ctn .tab_item .list .swiper-slide a .photo {
    height: 380px;
    position: relative;
    border-radius: 20px;
}
.find .tab_ctn .tab_item.item1 .list .swiper-slide a .photo .local {
    position: absolute;
    left: 23px;
    top: 20px;
    padding: 8px 10px ;
    background-color: #fff;
    color: var(--main-c);
    border-radius: 10px;
    font-family: 'KKIM';
    font-size: var(--btnsize);
}
.find .tab_ctn .tab_item.item2 .list .swiper-slide a .photo .local {
    position: absolute;
    left: 23px;
    top: 20px;
    padding: 8px 10px ;
    background-color: #fff;
    color: #CF9942;
    border-radius: 10px;
    font-family: 'KKIM';
    font-size: var(--btnsize);
}
.find .tab_ctn .tab_item .ctrl_btn .prev {
    position: absolute;
    left: -30px;
    top: 177px;
    z-index: 10;
    transform: rotate(180deg);
}
.find .tab_ctn .tab_item .list .swiper-slide .txt {
    padding: 16px 15px 7px 7px;
}

.find .tab_ctn .tab_item .list .swiper-slide .txt h4 {
    display: flex;
    align-items: center;
    margin: 0 0 8px 0;
}
.find .tab_ctn .tab_item .list .swiper-slide .txt h4 strong{
    font-size: var(--titsize-sub);
    font-weight: 700;
    color: var(--tit-c);
    padding: 0 10px 0 0 ;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.find .tab_ctn .tab_item .list .swiper-slide .txt h4 span {
    font-size: var(--btnsize);
}
.find .tab_ctn .tab_item .list .swiper-slide .txt ul li {
    display: flex;
    gap: 0 10px;
}
.find .tab_ctn .tab_item .list .swiper-slide .txt ul li span {
    color: var(--tit-c);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.find .tab_ctn .tab_item .list .swiper-slide .txt ul li strong.mo_only {
    display: none;
}
.find .tab_ctn .tab_item .ctrl_btn .next {
    position: absolute;
    right: -30px;
    top: 177px;
    z-index: 10;
}

.find .tab_ctn .tab_item .ctrl_btn .prev,
.find .tab_ctn .tab_item .ctrl_btn .next {
    width: 45px;
    height: 45px;
    background-color: #f4f4f4;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    fill: #4d4d4d;

}
.find .tab_ctn .tab_item .ctrl_btn .prev i,
.find .tab_ctn .tab_item .ctrl_btn .next i {
    width: 10px;
    margin: 8px 0 0 4px;
    display: block;
}
.find .tab_ctn .tab_item .ctrl_btn .swiper-button-disabled i{
    opacity: .3;
}

.find .tab_ctn .tab_item .ctrl_btn .more {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    position: absolute;
    right: 0;
    top: -37px;
    font-size: var(--btnsize);
}
.find .tab_ctn .tab_item .ctrl_btn .more i{
    display: block;
    width: 8.5px;
    margin-bottom: 3px;
}
@media screen and (max-width:1024px){ 
    .find .tab_ctn .tab_item .ctrl_btn .prev,
    .find .tab_ctn .tab_item .ctrl_btn .next {
        display: none;
    }
}

@media screen and (max-width:768px){ 
    .find {
        margin: 80px 0 0 0;
    }
    .find .tab_ctn .tab_item .list .swiper-slide a .photo {
    height: 221px;
    }
    .find .tab_ctn .tab_item .list .swiper-slide .txt ul li strong.pc_only {
        display: none;
    }
    .find .tab_ctn .tab_item .list .swiper-slide .txt ul li strong.mo_only {
    display: block;
    }
    .find .tab_ctn .tab_item .ctrl_btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .find .tab_ctn .tab_item .ctrl_btn .more {
    position: relative;
    right: auto;
    top: auto;
    margin: 30px 0 0 0;
    }
    .find .tab_ctn .tab_item .ctrl_btn .more i{
        display: block;
        width: 8.5px;
        margin-bottom: 3px;
    }
}
.slogan {
    margin: clamp(68px , 10vw ,158px) 0 0 0 ;
    text-align: center;
}
.slogan .sub{
    display: inline-block;
    text-align: center;
    color: var(--white);
    padding: 8px 39px 8px 39px;
    background-color: var(--main-c);
    border-radius: 30px;
    margin: 0 0 38px 0;
}
.slogan h2 {
    font-family: 'KKIM';
    font-size: clamp(24px, 3vw ,50px);
    color: var(--tit-c);
    line-height: 1.8;
    margin: 0 0 58px 0;

}
.slogan h2 strong {
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: relative; /*before 정렬 기준*/
}
.slogan h2 strong::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -55%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 2em;
    width: 90%;
}
.slogan h2 strong.place {
    width: 2.92em;
}
.slogan h2 strong.place::before {
    background-image: url(../images/slogan_place.png);
    transform: translate(-50%, -65%);
}
.slogan h2 strong.animal {
    width: 2.66em;
}
.slogan h2 strong.animal::before {
    background-image: url(../images/slogan_animal.png);
}
.slogan h2 strong.center {
    width: 2.22em;

}
.slogan h2 strong.center::before {
    background-image: url(../images/slogan_center.png);
    height: 2em;
} 
.slogan h2 strong.call {
    width: 1.68em;

}
.slogan h2 strong.call::before {
    background-image: url(../images/slogan_call.png);
    height: 1.3em;
}

.slogan h2 br.mo {
    display: none;
}
.slogan p{
    font-size: clamp(15px, 0.8vw, 17px);
}
@media screen and (max-width:1024px){
.slogan p {
    display: none;
}
}

@media screen and (max-width:768px){

.slogan {
    text-align: center;
}
.slogan .sub{
    display: none
}
.slogan h2 {
    font-family: 'KKIM';
    font-size: clamp(24px, 3vw ,50px);
    color: var(--tit-c);
    line-height: 1.8;
}
.slogan h2 strong {
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: relative; /*before 정렬 기준*/
}
.slogan h2 strong::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -55%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 2em;
    width: 90%;
}
.slogan h2 strong.place {
    width: 2.92em;
}
.slogan h2 strong.place::before {
    background-image: url(../images/slogan_place.png);
    transform: translate(-50%, -65%);
}
.slogan h2 strong.animal {
    width: 2.66em;
}
.slogan h2 strong.animal::before {
    background-image: url(../images/slogan_animal.png);
}
.slogan h2 strong.center {
    width: 2.22em;

}
.slogan h2 strong.center::before {
    background-image: url(../images/slogan_center.png);
    height: 2em;
} 
.slogan h2 strong.call {
    width: 1.68em;

}
.slogan h2 strong.call::before {
    background-image: url(../images/slogan_call.png);
    height: 1.3em;
    
}


}
@media screen and (max-width:400px){
    .slogan h2 br.pc {
        display: none;
    }
    .slogan h2 br.mo {
        display: block;
    }
}

.wait {
    margin: clamp(43px, 10vw, 151px) 0 0 0;
    padding: clamp(41px, 13vw, 92px) 0 clamp(81px, 20vw, 159px) 0;
    background-color: var(--dark);
    color: var(--white);
    text-align: center;
    position: relative;
    overflow: hidden;
}
.wait strong {
    padding: 0.5294em 1.8235em ;
    background-color: var(--white);
    color: var(--main-c);
    border-radius: 20px;
}
.wait h2 {
    margin: 34px 0 0 0;
    font-size: var(--titsize);
    font-family: 'KKIM';
}
.wait .list {
    margin: 62px 0 0 0;

}
.wait .list .swiper-slide {
    width: clamp(166px, 30vw, 320px);
}
.wait .list .swiper-slide a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.wait .list .swiper-slide a .photo {
    border-radius: 50%;
    position: relative;
}
.wait .list .swiper-slide a .cate {
    padding: 0.2941em 1.3529em ;
    background-color: var(--main-c);
    border-radius: 30px;
    margin-top: -20px;
    z-index: 5;
    font-size: var(--btnsize);
}
.wait .list .swiper-slide a .cate.cate2 {
    background-color: var(--white);
    color: var(--main-c);
}
.wait .list .swiper-slide a h3 {
    margin: 9px 0 7px 0;
    font-size: 28px;
    font-family: 'KKIM';
}
.wait .more a {
    margin: 57px 0 0 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: var(--btnsize);
    padding: 0.2353em 1.7647em;
    background-color: var(--white15);
    border-radius: 30px;
}
.wait .more a i{
    display: block;
    width: 8.5px;
    margin-bottom: 3px;
    fill: white;
}
.wait .rolling {
    position: absolute;
    left: 0;
    bottom: -190px;
    font-family: 'KKIM';
    font-size: clamp(50px, 20vw ,110px);
    font-weight: var(--bold);
    white-space: nowrap;
    opacity: 0.04;
    width: 100%;
}
.wait .rolling p {
    position: absolute;
    left: 0;
    bottom: -20px;
    transform: translateX(-50.19%);
    animation: wait_roll 100s linear infinite;
}
@keyframes wait_roll {
    0% {transform:  translateX(0);}
    100% {transform: translateX(-50.19%);}
}
@media screen and (max-width:768px){
    .wait .list .swiper-slide a h3 {
    margin: 9px 0 7px 0;
    font-size: 20px;
    font-family: 'KKIM';
}
    .wait .more a {
    margin: 36px 0 0 0;
}
.wait .rolling p {
    position: absolute;
    left: 0;
    bottom: 10px;
    transform: translateX(-50.19%);
    animation: wait_roll 100s linear infinite;
}
}

.review {
    margin: clamp(122px, 17vw, 172px) 0 0 0;
    /* overflow-x: hidden; */
}
.review .wrapper {
    position: relative;
}
.review .tit h2 {
    font-size: var(--titsize);
    font-family: 'KKIM';
    color: var(--tit-c);
    position: relative;
}
.review .tit h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -79px;
    width: 100vw;
    height: 1px;
    background-color: var(--line-c);
} 
.review .tit h2::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 3px;
    background-color: var(--main-c);
    left: 0;
    bottom: -79px;
}
.review .tit .sub span {
    display: inline-block;
    margin: 0.9412em 0 2.1765em 0;
    position: relative;
}

.review .list {
    margin: clamp(37px, 3vw ,90px) 0 0 0 ;
}
.review .list .swiper-slide a {
    display: block;
}
.review .list .swiper-slide a .photo {
    height: clamp(197px, 50vw ,429px);
    border: 1px solid var(--line-c);
}
.review .list .swiper-slide a .photo img {
    object-fit: contain;
}
.review .list .swiper-slide a .txt {
    margin: 27px 0 0 0;
}
.review .list .swiper-slide a .txt h3 {
    font-size: clamp(16px, 1.1vw ,20px);
    font-weight: var(--bold);
    color: var(--tit-c);
    margin-bottom: clamp(8px, 1vw, 16px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.review .list .swiper-slide a .txt p {
    display: -webkit-box;
    margin-bottom: clamp(8px, 1vw, 16px);
    height: 3em;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.review .list .swiper-slide a .txt .date {
    display: flex;
    gap: 0 10px ;
    color: #aaa;
    font-size: var(--btnsize);
}
.review .list .swiper-slide a .txt .date strong{
    color: var(--main-c);
}
.review .ctrl_btn .prev {
    position: absolute;
    left: -27px;
    top: 380px;
    transform: rotate(180deg);
}
.review .ctrl_btn .next {
    position: absolute;
    left: auto;
    right: -27px;
    top: 380px;
}
.review .ctrl_btn .prev,
.review .ctrl_btn .next {
    z-index: 10;
    width: 45px;
    height: 45px;
    background-color: #f4f4f4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.review .ctrl_btn .prev i,
.review .ctrl_btn .next i {
    width: 10px;
    margin: 8px 0 0 4px;
    display: block;
    fill: #4d4d4d;
}
.review .ctrl_btn .swiper-button-disabled i {
    opacity: 0.3;
}
.review .more a{
    position: absolute;
    right: 0;
    top: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 8px;
    font-family: 'KKIM';
    font-size: 24px;
}
.review .more a strong {
    font-size: 40px;
    color: var(--main-c);
}
.review .more a i {
    display: block;
    margin: 0 0 3px 0;
    width: 15px;
    fill: #555;
}
@media screen and (max-width:1024px){
    .review .ctrl_btn {
        display: none;
    }
}
@media screen and (max-width:768px){
    .review .list .swiper-slide {
        width: 186px;

    }
    .review .list .swiper-slide a .photo {
        height: clamp(197px, 50vw ,429px);
        border: 1px solid var(--line-c);
    }
    .review .tit h2::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -16px;
        width: 100vw;
        height: 1px;
        background-color: var(--line-c);
    } 
    .review .tit h2::after {
        content: "";
        position: absolute;
        width: 80px;
        height: 2px;
        background-color: var(--main-c);
        left: 0;
        bottom: -16px;
    }
    .review .tit .sub span {
        display: none;
    }
    .review .more a strong,
    .review .more a span {
        display: none;
    }
    .review .more a{
        top: 0;
    }
   
}
footer {
    background-color: var(--footer-c);
    color: var(--white50);
    border-radius: 30px 30px 0 0 ;
    padding: 4.4118em 0 4.7059em 0;
    margin: clamp(100px, 10vw ,184px) 0 0 0;
}
footer .wrapper {
    position: relative;
}
footer .top {
    position: absolute;
    right: 10px;
    top: -20px;
    width: 3.5294em;
    height: 3.5294em;
    border-radius: 10px;
    background-color: #E7DFD2;
    color: var(--dark);
    font-family: 'KKIM';
    font-size: var(--btnsize);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    fill: var(--dark);
}
footer .top i {
    display: block;
    width: 20px;
}
footer .top span {
    margin-top: -5px;
}
footer .f_logo {
    width: clamp(221px, 17vw ,327px);
    height: 40px;
    background: url(../images/logo_f.svg) no-repeat center center  / contain;
}
footer .f_nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 3.1765em;
    margin: 3.1765em 0 2.2941em 0;
}
footer .f_nav ul li {
    position: relative;
}
footer .f_nav ul li::after {
    content: "";
    position: absolute;
    width: 1px;
    height: .8em;
    right: -1.5em;
    top: 8px;
    background-color: var(--white15);
}
footer .f_nav ul li:last-child::after {
    display: none;
}
footer .f_info {
    margin-bottom: 34px;
}
footer .f_info span,
footer .f_info address {
    display: inline-block;
    margin: 0 2.7647em 0.2em 0;
}
footer .copyright {
    font-size: var(--btnsize);
}

@media screen and (max-width:768px){ 
    footer .top {
        position: absolute;
        right: 20px;
        top: 0;
        width: 3.5294em;
        height: 3.5294em;
        border-radius: 10px;
        background-color: #E7DFD2;
        color: var(--dark);
        font-family: 'KKIM';
        font-size: var(--btnsize);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}