/********************************************************
* 파 일 명 : layout.css
* 작 성 자 : 김솔이
* 작 성 일 : 25-10-23
* 설    명 : 문서 구조에 영향을 끼치는 요소 (header, footer, container)
*********************************************************/

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--ctn-mar);  
    left: 0;
    top: 0;
    width: 100%;
    height: var(--header-h);
    z-index: 999;
    color: var(--white);
    transition: transform .5s;
}
header .logo a{
    display: block;
    width: clamp(61px, 7vw ,83px); 
    height: 29px;
    background: url(../images/common/logo_w.svg) no-repeat center right / contain;
    margin-bottom: 10px;
    transition: .5s;
}
header .util .lang {
    display: block;
    font-weight: var(--bold);
    padding: 0 0 0 1.7059em;
    position: relative;
    font-size: 0.8824em;
    transition: .5s;
    margin-top: 12px;

}
header .util .lang::before {
    transition: .5s;
    position: absolute;
    content: "";
    left: 4px;
    top: 4px;
    width: 0.8824em;
    height: 0.8824em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 15' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 15C6.475 15 5.50625 14.8031 4.59375 14.4094C3.68125 14.0156 2.88438 13.4781 2.20312 12.7969C1.52188 12.1156 0.984375 11.3188 0.590625 10.4062C0.196875 9.49375 0 8.525 0 7.5C0 6.4625 0.196875 5.49063 0.590625 4.58438C0.984375 3.67813 1.52188 2.88438 2.20312 2.20312C2.88438 1.52188 3.68125 0.984375 4.59375 0.590625C5.50625 0.196875 6.475 0 7.5 0C8.5375 0 9.50937 0.196875 10.4156 0.590625C11.3219 0.984375 12.1156 1.52188 12.7969 2.20312C13.4781 2.88438 14.0156 3.67813 14.4094 4.58438C14.8031 5.49063 15 6.4625 15 7.5C15 8.525 14.8031 9.49375 14.4094 10.4062C14.0156 11.3188 13.4781 12.1156 12.7969 12.7969C12.1156 13.4781 11.3219 14.0156 10.4156 14.4094C9.50937 14.8031 8.5375 15 7.5 15ZM7.5 13.4625C7.825 13.0125 8.10625 12.5438 8.34375 12.0563C8.58125 11.5688 8.775 11.05 8.925 10.5H6.075C6.225 11.05 6.41875 11.5688 6.65625 12.0563C6.89375 12.5438 7.175 13.0125 7.5 13.4625ZM5.55 13.1625C5.325 12.75 5.12813 12.3219 4.95938 11.8781C4.79063 11.4344 4.65 10.975 4.5375 10.5H2.325C2.6875 11.125 3.14062 11.6688 3.68437 12.1313C4.22813 12.5938 4.85 12.9375 5.55 13.1625ZM9.45 13.1625C10.15 12.9375 10.7719 12.5938 11.3156 12.1313C11.8594 11.6688 12.3125 11.125 12.675 10.5H10.4625C10.35 10.975 10.2094 11.4344 10.0406 11.8781C9.87187 12.3219 9.675 12.75 9.45 13.1625ZM1.6875 9H4.2375C4.2 8.75 4.17188 8.50313 4.15312 8.25937C4.13438 8.01562 4.125 7.7625 4.125 7.5C4.125 7.2375 4.13438 6.98438 4.15312 6.74063C4.17188 6.49688 4.2 6.25 4.2375 6H1.6875C1.625 6.25 1.57812 6.49688 1.54688 6.74063C1.51562 6.98438 1.5 7.2375 1.5 7.5C1.5 7.7625 1.51562 8.01562 1.54688 8.25937C1.57812 8.50313 1.625 8.75 1.6875 9ZM5.7375 9H9.2625C9.3 8.75 9.32812 8.50313 9.34688 8.25937C9.36563 8.01562 9.375 7.7625 9.375 7.5C9.375 7.2375 9.36563 6.98438 9.34688 6.74063C9.32812 6.49688 9.3 6.25 9.2625 6H5.7375C5.7 6.25 5.67188 6.49688 5.65312 6.74063C5.63438 6.98438 5.625 7.2375 5.625 7.5C5.625 7.7625 5.63438 8.01562 5.65312 8.25937C5.67188 8.50313 5.7 8.75 5.7375 9ZM10.7625 9H13.3125C13.375 8.75 13.4219 8.50313 13.4531 8.25937C13.4844 8.01562 13.5 7.7625 13.5 7.5C13.5 7.2375 13.4844 6.98438 13.4531 6.74063C13.4219 6.49688 13.375 6.25 13.3125 6H10.7625C10.8 6.25 10.8281 6.49688 10.8469 6.74063C10.8656 6.98438 10.875 7.2375 10.875 7.5C10.875 7.7625 10.8656 8.01562 10.8469 8.25937C10.8281 8.50313 10.8 8.75 10.7625 9ZM10.4625 4.5H12.675C12.3125 3.875 11.8594 3.33125 11.3156 2.86875C10.7719 2.40625 10.15 2.0625 9.45 1.8375C9.675 2.25 9.87187 2.67812 10.0406 3.12187C10.2094 3.56562 10.35 4.025 10.4625 4.5ZM6.075 4.5H8.925C8.775 3.95 8.58125 3.43125 8.34375 2.94375C8.10625 2.45625 7.825 1.9875 7.5 1.5375C7.175 1.9875 6.89375 2.45625 6.65625 2.94375C6.41875 3.43125 6.225 3.95 6.075 4.5ZM2.325 4.5H4.5375C4.65 4.025 4.79063 3.56562 4.95938 3.12187C5.12813 2.67812 5.325 2.25 5.55 1.8375C4.85 2.0625 4.22813 2.40625 3.68437 2.86875C3.14062 3.33125 2.6875 3.875 2.325 4.5Z' /%3E%3C/svg%3E%0A");
}

/*******************
*헤더에 fixed 클래스 들어감
**************/
header.fixed {
    color: var(--dark);
    background-color: var(--white);
    border-bottom: 1px solid var(--light);
}
header.fixed .logo a{
    background-image: url(../images/common/logo.svg);
}
header.fixed .util .lang::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 15' fill='%23110E0E' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 15C6.475 15 5.50625 14.8031 4.59375 14.4094C3.68125 14.0156 2.88438 13.4781 2.20312 12.7969C1.52188 12.1156 0.984375 11.3188 0.590625 10.4062C0.196875 9.49375 0 8.525 0 7.5C0 6.4625 0.196875 5.49063 0.590625 4.58438C0.984375 3.67813 1.52188 2.88438 2.20312 2.20312C2.88438 1.52188 3.68125 0.984375 4.59375 0.590625C5.50625 0.196875 6.475 0 7.5 0C8.5375 0 9.50937 0.196875 10.4156 0.590625C11.3219 0.984375 12.1156 1.52188 12.7969 2.20312C13.4781 2.88438 14.0156 3.67813 14.4094 4.58438C14.8031 5.49063 15 6.4625 15 7.5C15 8.525 14.8031 9.49375 14.4094 10.4062C14.0156 11.3188 13.4781 12.1156 12.7969 12.7969C12.1156 13.4781 11.3219 14.0156 10.4156 14.4094C9.50937 14.8031 8.5375 15 7.5 15ZM7.5 13.4625C7.825 13.0125 8.10625 12.5438 8.34375 12.0563C8.58125 11.5688 8.775 11.05 8.925 10.5H6.075C6.225 11.05 6.41875 11.5688 6.65625 12.0563C6.89375 12.5438 7.175 13.0125 7.5 13.4625ZM5.55 13.1625C5.325 12.75 5.12813 12.3219 4.95938 11.8781C4.79063 11.4344 4.65 10.975 4.5375 10.5H2.325C2.6875 11.125 3.14062 11.6688 3.68437 12.1313C4.22813 12.5938 4.85 12.9375 5.55 13.1625ZM9.45 13.1625C10.15 12.9375 10.7719 12.5938 11.3156 12.1313C11.8594 11.6688 12.3125 11.125 12.675 10.5H10.4625C10.35 10.975 10.2094 11.4344 10.0406 11.8781C9.87187 12.3219 9.675 12.75 9.45 13.1625ZM1.6875 9H4.2375C4.2 8.75 4.17188 8.50313 4.15312 8.25937C4.13438 8.01562 4.125 7.7625 4.125 7.5C4.125 7.2375 4.13438 6.98438 4.15312 6.74063C4.17188 6.49688 4.2 6.25 4.2375 6H1.6875C1.625 6.25 1.57812 6.49688 1.54688 6.74063C1.51562 6.98438 1.5 7.2375 1.5 7.5C1.5 7.7625 1.51562 8.01562 1.54688 8.25937C1.57812 8.50313 1.625 8.75 1.6875 9ZM5.7375 9H9.2625C9.3 8.75 9.32812 8.50313 9.34688 8.25937C9.36563 8.01562 9.375 7.7625 9.375 7.5C9.375 7.2375 9.36563 6.98438 9.34688 6.74063C9.32812 6.49688 9.3 6.25 9.2625 6H5.7375C5.7 6.25 5.67188 6.49688 5.65312 6.74063C5.63438 6.98438 5.625 7.2375 5.625 7.5C5.625 7.7625 5.63438 8.01562 5.65312 8.25937C5.67188 8.50313 5.7 8.75 5.7375 9ZM10.7625 9H13.3125C13.375 8.75 13.4219 8.50313 13.4531 8.25937C13.4844 8.01562 13.5 7.7625 13.5 7.5C13.5 7.2375 13.4844 6.98438 13.4531 6.74063C13.4219 6.49688 13.375 6.25 13.3125 6H10.7625C10.8 6.25 10.8281 6.49688 10.8469 6.74063C10.8656 6.98438 10.875 7.2375 10.875 7.5C10.875 7.7625 10.8656 8.01562 10.8469 8.25937C10.8281 8.50313 10.8 8.75 10.7625 9ZM10.4625 4.5H12.675C12.3125 3.875 11.8594 3.33125 11.3156 2.86875C10.7719 2.40625 10.15 2.0625 9.45 1.8375C9.675 2.25 9.87187 2.67812 10.0406 3.12187C10.2094 3.56562 10.35 4.025 10.4625 4.5ZM6.075 4.5H8.925C8.775 3.95 8.58125 3.43125 8.34375 2.94375C8.10625 2.45625 7.825 1.9875 7.5 1.5375C7.175 1.9875 6.89375 2.45625 6.65625 2.94375C6.41875 3.43125 6.225 3.95 6.075 4.5ZM2.325 4.5H4.5375C4.65 4.025 4.79063 3.56562 4.95938 3.12187C5.12813 2.67812 5.325 2.25 5.55 1.8375C4.85 2.0625 4.22813 2.40625 3.68437 2.86875C3.14062 3.33125 2.6875 3.875 2.325 4.5Z' /%3E%3C/svg%3E%0A");
}
header.fixed .gnb .gnb_open {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 4 16' fill='%23110E0E' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0C2.55 0 3.02083 0.195833 3.4125 0.5875C3.80417 0.979167 4 1.45 4 2C4 2.55 3.80417 3.02083 3.4125 3.4125C3.02083 3.80417 2.55 4 2 4C1.45 4 0.979167 3.80417 0.5875 3.4125C0.195833 3.02083 0 2.55 0 2ZM0 8C0 7.45 0.195833 6.97917 0.5875 6.5875C0.979167 6.19583 1.45 6 2 6C2.55 6 3.02083 6.19583 3.4125 6.5875C3.80417 6.97917 4 7.45 4 8C4 8.55 3.80417 9.02083 3.4125 9.4125C3.02083 9.80417 2.55 10 2 10C1.45 10 0.979167 9.80417 0.5875 9.4125C0.195833 9.02083 0 8.55 0 8ZM0 14C0 13.45 0.195833 12.9792 0.5875 12.5875C0.979167 12.1958 1.45 12 2 12C2.55 12 3.02083 12.1958 3.4125 12.5875C3.80417 12.9792 4 13.45 4 14C4 14.55 3.80417 15.0208 3.4125 15.4125C3.02083 15.8042 2.55 16 2 16C1.45 16 0.979167 15.8042 0.5875 15.4125C0.195833 15.0208 0 14.55 0 14Z' /%3E%3C/svg%3E%0A");
}

/*********
**스크롤 올림
**근데, menu_pc랑 menu_mo가 들어가면 작동이 안되면 좋겠음!!
**********/

header.up:not(.menu_pc, .menu_mo) {
    transform: translateY(-100%);
}

@media screen and (min-width:1025px){   /**PC***/

    header .gnb .gnb_open,
    header .gnb .gnb_wrap .gnb_logo,
    header .gnb .gnb_wrap .gnb_close {
        display: none; /*PC에서는 안보임!!*/
    }
    header .gnb .gnb_bg {
        position: absolute; /*header를 기준으로 !! gnb에 주면 나머지 다 빠그라짐*/
        z-index: -2;  /*-10 안에서만 놀아라*/
        left: 0;
        top: 0;
        width: 100%;
        height: 0;
        background-color: var(--black50);
        opacity: 0;
        transition: height 0.1s , opacity 0.5s;
    }
            header.menu_pc .gnb .gnb_bg {
                height: 100vh;
                opacity: 1;
            }    /*메뉴PC 들어가서 보임!!!!!!!!!!!!!!!!!*/


    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /*depth2 li 의 정렬 기준*/
        transition: .5s;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        padding: 10px 2.8em 0 2.8em;
        font-weight: var(--bold);
        font-size: 2rem;
        line-height: calc(var(--header-h) - 10px);
        position: relative;
    }
    /* header .gnb .gnb_wrap ul.depth1 > li > a > span {
        position: relative;
    } */
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: var(--main-c);
        z-index: 3;
    }
    /*****************1차 li에 오버**********************/
    header .gnb .gnb_wrap ul.depth1 > li:hover > a ,
    header .gnb .gnb_wrap ul.depth1 > li > a:focus {
        color: var(--main-c);
    }
    header .gnb .gnb_wrap ul.depth1 > li:hover > a::after ,
    header .gnb .gnb_wrap ul.depth1 > li > a:focus::after {
        width: 100%;
        transition: .5s;

    }

    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: var(--header-h);
        color: var(--txt-c);
        text-align: center;
        min-width: 100%;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a{
        display: block;
        padding: 8px 0;
        white-space: nowrap;
        
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover,
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:focus {
        color: var(--main-c);
        font-weight: var(--bold);
    }


    /***************************** 
        *menu_pc 클래스 추가 ==> 메뉴에 오버함
    ***************************/

    header.menu_pc {
        color: var(--dark);
    }
    header::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 0px;
        background-color: var(--white);
        z-index: -1;
        transition: height .5s;
    }
    header.menu_pc::before {
        height: 410px;
    }
    header.menu_pc::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 0;
        background-color: var(--light);
    }
    header.menu_pc .logo a{
        background-image: url(../images/common/logo.svg);
    }
    header.menu_pc .util .lang::before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 15' fill='%23110E0E' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 15C6.475 15 5.50625 14.8031 4.59375 14.4094C3.68125 14.0156 2.88438 13.4781 2.20312 12.7969C1.52188 12.1156 0.984375 11.3188 0.590625 10.4062C0.196875 9.49375 0 8.525 0 7.5C0 6.4625 0.196875 5.49063 0.590625 4.58438C0.984375 3.67813 1.52188 2.88438 2.20312 2.20312C2.88438 1.52188 3.68125 0.984375 4.59375 0.590625C5.50625 0.196875 6.475 0 7.5 0C8.5375 0 9.50937 0.196875 10.4156 0.590625C11.3219 0.984375 12.1156 1.52188 12.7969 2.20312C13.4781 2.88438 14.0156 3.67813 14.4094 4.58438C14.8031 5.49063 15 6.4625 15 7.5C15 8.525 14.8031 9.49375 14.4094 10.4062C14.0156 11.3188 13.4781 12.1156 12.7969 12.7969C12.1156 13.4781 11.3219 14.0156 10.4156 14.4094C9.50937 14.8031 8.5375 15 7.5 15ZM7.5 13.4625C7.825 13.0125 8.10625 12.5438 8.34375 12.0563C8.58125 11.5688 8.775 11.05 8.925 10.5H6.075C6.225 11.05 6.41875 11.5688 6.65625 12.0563C6.89375 12.5438 7.175 13.0125 7.5 13.4625ZM5.55 13.1625C5.325 12.75 5.12813 12.3219 4.95938 11.8781C4.79063 11.4344 4.65 10.975 4.5375 10.5H2.325C2.6875 11.125 3.14062 11.6688 3.68437 12.1313C4.22813 12.5938 4.85 12.9375 5.55 13.1625ZM9.45 13.1625C10.15 12.9375 10.7719 12.5938 11.3156 12.1313C11.8594 11.6688 12.3125 11.125 12.675 10.5H10.4625C10.35 10.975 10.2094 11.4344 10.0406 11.8781C9.87187 12.3219 9.675 12.75 9.45 13.1625ZM1.6875 9H4.2375C4.2 8.75 4.17188 8.50313 4.15312 8.25937C4.13438 8.01562 4.125 7.7625 4.125 7.5C4.125 7.2375 4.13438 6.98438 4.15312 6.74063C4.17188 6.49688 4.2 6.25 4.2375 6H1.6875C1.625 6.25 1.57812 6.49688 1.54688 6.74063C1.51562 6.98438 1.5 7.2375 1.5 7.5C1.5 7.7625 1.51562 8.01562 1.54688 8.25937C1.57812 8.50313 1.625 8.75 1.6875 9ZM5.7375 9H9.2625C9.3 8.75 9.32812 8.50313 9.34688 8.25937C9.36563 8.01562 9.375 7.7625 9.375 7.5C9.375 7.2375 9.36563 6.98438 9.34688 6.74063C9.32812 6.49688 9.3 6.25 9.2625 6H5.7375C5.7 6.25 5.67188 6.49688 5.65312 6.74063C5.63438 6.98438 5.625 7.2375 5.625 7.5C5.625 7.7625 5.63438 8.01562 5.65312 8.25937C5.67188 8.50313 5.7 8.75 5.7375 9ZM10.7625 9H13.3125C13.375 8.75 13.4219 8.50313 13.4531 8.25937C13.4844 8.01562 13.5 7.7625 13.5 7.5C13.5 7.2375 13.4844 6.98438 13.4531 6.74063C13.4219 6.49688 13.375 6.25 13.3125 6H10.7625C10.8 6.25 10.8281 6.49688 10.8469 6.74063C10.8656 6.98438 10.875 7.2375 10.875 7.5C10.875 7.7625 10.8656 8.01562 10.8469 8.25937C10.8281 8.50313 10.8 8.75 10.7625 9ZM10.4625 4.5H12.675C12.3125 3.875 11.8594 3.33125 11.3156 2.86875C10.7719 2.40625 10.15 2.0625 9.45 1.8375C9.675 2.25 9.87187 2.67812 10.0406 3.12187C10.2094 3.56562 10.35 4.025 10.4625 4.5ZM6.075 4.5H8.925C8.775 3.95 8.58125 3.43125 8.34375 2.94375C8.10625 2.45625 7.825 1.9875 7.5 1.5375C7.175 1.9875 6.89375 2.45625 6.65625 2.94375C6.41875 3.43125 6.225 3.95 6.075 4.5ZM2.325 4.5H4.5375C4.65 4.025 4.79063 3.56562 4.95938 3.12187C5.12813 2.67812 5.325 2.25 5.55 1.8375C4.85 2.0625 4.22813 2.40625 3.68437 2.86875C3.14062 3.33125 2.6875 3.875 2.325 4.5Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: block !important;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: height 0.4322s;
        padding-top: 0; 
    }
    header.menu_pc .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        height: calc(410px - var(--header-h));
        opacity: 1;
        padding-top: 20px;
    }

    

}/*PC gnb media*/

@media screen and (max-width:1200px) and (min-width:1025px){

    header .gnb .gnb_wrap ul.depth1 > li > a {
        padding: 10px 2.2em 0 2.2em;
        font-size: 1.7rem;
    }
    header .util .lang {
        margin-top: 10px;

    }
}

@media screen and (max-width:1024px){

    header {
        padding-right: 0;  
    }
    
    header .util {
        display: none;
    }

    header .gnb .gnb_open {
        display: block;
        height: var(--header-h);
        width: var(--header-h);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 4px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 4 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0C2.55 0 3.02083 0.195833 3.4125 0.5875C3.80417 0.979167 4 1.45 4 2C4 2.55 3.80417 3.02083 3.4125 3.4125C3.02083 3.80417 2.55 4 2 4C1.45 4 0.979167 3.80417 0.5875 3.4125C0.195833 3.02083 0 2.55 0 2ZM0 8C0 7.45 0.195833 6.97917 0.5875 6.5875C0.979167 6.19583 1.45 6 2 6C2.55 6 3.02083 6.19583 3.4125 6.5875C3.80417 6.97917 4 7.45 4 8C4 8.55 3.80417 9.02083 3.4125 9.4125C3.02083 9.80417 2.55 10 2 10C1.45 10 0.979167 9.80417 0.5875 9.4125C0.195833 9.02083 0 8.55 0 8ZM0 14C0 13.45 0.195833 12.9792 0.5875 12.5875C0.979167 12.1958 1.45 12 2 12C2.55 12 3.02083 12.1958 3.4125 12.5875C3.80417 12.9792 4 13.45 4 14C4 14.55 3.80417 15.0208 3.4125 15.4125C3.02083 15.8042 2.55 16 2 16C1.45 16 0.979167 15.8042 0.5875 15.4125C0.195833 15.0208 0 14.55 0 14Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        z-index: 10;
        position: absolute; /*header를 기준으로*/
        right: -320px;
        top: 0;
        width: 100%;
        max-width: 300px;
        height: 100dvh;
        background: var(--white);
        color: var(--txt-c);
        transition: right .5s;
    }
    header .gnb .gnb_bg {
        opacity: 0;
        position: absolute; /*header를 기준으로 !! gnb에 주면 나머지 다 빠그라짐*/
        /* z-index: -2;  -10 안에서만 놀아라 */
        right: -100%;
        top: 0;
        width: 100%;
        height: 100dvh;
        background-color: var(--black50);
    }
    header.menu_mo .gnb .gnb_bg {
        opacity: 1;
        right: 0;
    }


    /********모바일메뉴 오픈********/
    header.menu_mo .gnb .gnb_wrap {
        right: 0;
    }
    header .gnb .gnb_wrap .gnb_logo {
        position: absolute; /*gnb_wrap 기준*/
        left: var(--ctn-mar);
        top: 0;
        width: 61px;
        height: calc(var(--header-h) - 16px);
        background: url(../images/common/logo.svg) no-repeat center center / contain;

    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: var(--header-h);
        padding: 10px 0 0 0;
        border-top: 1px solid var(--light);
        height: calc(100dvh - var(--header-h));
        overflow-y: auto;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a{
        display: block;
        padding: 19px var(--header-h) 19px 16px;
        font-size: 17px;
        font-weight: var(--bold);
        color: var(--tit-c);
        position: relative; /*after, before 정렬 기준*/
    }
    
    header .gnb .gnb_wrap ul.depth1 > li > a::before,
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        position: absolute;
        content: "";
        right: 24px;
        top: 32px;
        width: 11px;
        height: 1px;
        background-color: var(--txt-c);
        
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        transform: rotate(-90deg);
        transition: .3s;
    }
    /***li 오픈 --- 1차메뉴 변경점***/
    header .gnb .gnb_wrap ul.depth1 > li.open > a{
        color: var(--main-c);
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        transform: rotate(0deg);
    }


    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        background-color: var(--light);
        padding: 26px 0;
        display: none; /*메뉴 클릭 해야 나온다*/
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 6.5px 32px 6.5px 32px;
        line-height: 1.8;
    }
   
    /* **li 오픈 --- 2차메뉴 변경점**
    header.menu_mo .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2 {
        display: block;
    } */

    header.menu_mo .gnb .gnb_wrap .gnb_close {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: var(--header-h);
        height: var(--header-h);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 13.3px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' fill='%231C1B1F' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-0.000195585 1.86667L1.86647 -4.99767e-07L6.66647 4.8L11.4331 -8.15946e-08L13.2998 1.86667L8.4998 6.66667L13.2998 11.4333L11.4331 13.3L6.66647 8.5L1.86647 13.3L-0.000196003 11.4333L4.79981 6.66667L-0.000195585 1.86667Z' /%3E%3C/svg%3E%0A");

    }
    

}/*Mobile menu*/
