@import url(common.css);
@import url(default.css);
@import url(font.css);
@import url(layout.css);




header {
    width: 100%;
    height: var(--header-h);
    display: flex;
    justify-content: space-between;
    padding: 0 var(--ctn-mar);
    color: var(--tit-c);
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
}
header .logo a{
    display: block;
    width: clamp(115px, 18vw , 204px);
    height: 40px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/common/logo.svg);
}

/*PC!!!!!!!!!!!!!!!!*/

@media screen and (min-width:1025px){
header .gnb .gnb_open{
    display: none;
}
header .gnb {
    margin-right: 100px;
} 
header .gnb .gnb_wrap .gnb_list ul.depth1 {
    display: flex;
    justify-content: space-between;
}
header .gnb .gnb_wrap .gnb_list ul.depth1 > li > a {
    display: block;
    padding: 0 23.5px;
    font-size: 20px;
    line-height: var(--header-h);
    
}
header .gnb .gnb_wrap .gnb_list ul.depth1 > li > ul.depth2{
    display: none;
}
header .gnb .gnb_wrap .gnb_close {
    display: none;
}
header .util .lang button{
    font-weight: 700;
    display: block;
    padding: 5px 11px 5px 25px;
    border: 1px solid var(--tit-c);
    border-radius: 30px;
    font-size: var(--btnsize);
}
header .util .lang button span {
    position: relative;
}
header .util .lang button span::before {
    position: absolute;
    left: -14px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 9.84px;
    height: 9.84px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 10' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.91984 9.83968C4.24746 9.83968 3.61198 9.71054 3.0134 9.45224C2.41482 9.19395 1.89209 8.84136 1.4452 8.39448C0.998318 7.94759 0.645729 7.42486 0.387437 6.82628C0.129146 6.2277 0 5.59222 0 4.91984C0 4.23926 0.129146 3.60173 0.387437 3.00725C0.645729 2.41277 0.998318 1.89209 1.4452 1.4452C1.89209 0.998318 2.41482 0.645729 3.0134 0.387437C3.61198 0.129146 4.24746 0 4.91984 0C5.60042 0 6.23795 0.129146 6.83243 0.387437C7.42691 0.645729 7.94759 0.998318 8.39448 1.4452C8.84136 1.89209 9.19395 2.41277 9.45224 3.00725C9.71054 3.60173 9.83968 4.23926 9.83968 4.91984C9.83968 5.59222 9.71054 6.2277 9.45224 6.82628C9.19395 7.42486 8.84136 7.94759 8.39448 8.39448C7.94759 8.84136 7.42691 9.19395 6.83243 9.45224C6.23795 9.71054 5.60042 9.83968 4.91984 9.83968ZM4.91984 8.83111C5.13303 8.53592 5.31753 8.22843 5.47332 7.90864C5.62912 7.58885 5.75621 7.24856 5.85461 6.88778H3.98507C4.08347 7.24856 4.21056 7.58885 4.36636 7.90864C4.52215 8.22843 4.70665 8.53592 4.91984 8.83111ZM3.64068 8.63432C3.49309 8.36373 3.36394 8.08289 3.25324 7.7918C3.14255 7.50071 3.0503 7.19937 2.9765 6.88778H1.52515C1.76294 7.29776 2.06018 7.65445 2.41687 7.95784C2.77356 8.26123 3.1815 8.48672 3.64068 8.63432ZM6.199 8.63432C6.65818 8.48672 7.06612 8.26123 7.42281 7.95784C7.7795 7.65445 8.07674 7.29776 8.31453 6.88778H6.86318C6.78938 7.19937 6.69713 7.50071 6.58644 7.7918C6.47574 8.08289 6.34659 8.36373 6.199 8.63432ZM1.10696 5.90381H2.77971C2.75511 5.73981 2.73666 5.57787 2.72436 5.41797C2.71206 5.25808 2.70591 5.09203 2.70591 4.91984C2.70591 4.74765 2.71206 4.5816 2.72436 4.42171C2.73666 4.26181 2.75511 4.09987 2.77971 3.93587H1.10696C1.06597 4.09987 1.03522 4.26181 1.01472 4.42171C0.994218 4.5816 0.983968 4.74765 0.983968 4.91984C0.983968 5.09203 0.994218 5.25808 1.01472 5.41797C1.03522 5.57787 1.06597 5.73981 1.10696 5.90381ZM3.76368 5.90381H6.076C6.1006 5.73981 6.11905 5.57787 6.13135 5.41797C6.14365 5.25808 6.1498 5.09203 6.1498 4.91984C6.1498 4.74765 6.14365 4.5816 6.13135 4.42171C6.11905 4.26181 6.1006 4.09987 6.076 3.93587H3.76368C3.73908 4.09987 3.72063 4.26181 3.70833 4.42171C3.69603 4.5816 3.68988 4.74765 3.68988 4.91984C3.68988 5.09203 3.69603 5.25808 3.70833 5.41797C3.72063 5.57787 3.73908 5.73981 3.76368 5.90381ZM7.05997 5.90381H8.73272C8.77372 5.73981 8.80446 5.57787 8.82496 5.41797C8.84546 5.25808 8.85571 5.09203 8.85571 4.91984C8.85571 4.74765 8.84546 4.5816 8.82496 4.42171C8.80446 4.26181 8.77372 4.09987 8.73272 3.93587H7.05997C7.08457 4.09987 7.10302 4.26181 7.11532 4.42171C7.12762 4.5816 7.13377 4.74765 7.13377 4.91984C7.13377 5.09203 7.12762 5.25808 7.11532 5.41797C7.10302 5.57787 7.08457 5.73981 7.05997 5.90381ZM6.86318 2.9519H8.31453C8.07674 2.54192 7.7795 2.18523 7.42281 1.88184C7.06612 1.57845 6.65818 1.35296 6.199 1.20536C6.34659 1.47595 6.47574 1.75679 6.58644 2.04788C6.69713 2.33897 6.78938 2.64031 6.86318 2.9519ZM3.98507 2.9519H5.85461C5.75621 2.59112 5.62912 2.25083 5.47332 1.93104C5.31753 1.61125 5.13303 1.30376 4.91984 1.00857C4.70665 1.30376 4.52215 1.61125 4.36636 1.93104C4.21056 2.25083 4.08347 2.59112 3.98507 2.9519ZM1.52515 2.9519H2.9765C3.0503 2.64031 3.14255 2.33897 3.25324 2.04788C3.36394 1.75679 3.49309 1.47595 3.64068 1.20536C3.1815 1.35296 2.77356 1.57845 2.41687 1.88184C2.06018 2.18523 1.76294 2.54192 1.52515 2.9519Z' /%3E%3C/svg%3E%0A");
}


header .util .lang .lang_wrap {
    display: none;
}
}