@import url(common.css);
@import url(default.css);
@import url(font.css);
@import url(layout.css);

.visual {
    width: calc(100% - (var(--ctn-mar) * 2));
    height: 95dvh;
    margin: 0 var(--ctn-mar);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: var(--header-h);
    position: relative;
}
.visual .swiper {
    width: 100%;
    height: 100%;
    border-radius: clamp(30px, 7vw ,50px);
}
.visual .swiper .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../images/main/visual_bg1.jpg) no-repeat center center / cover;
}
.visual .swiper .swiper-slide.bg2 {
    background-image: url(../images/main/visual_bg2.jpg);
}
.visual .swiper .swiper-slide.bg3 {
    background-image: url(../images/main/visual_bg3.jpg);
}


.visual .swiper .swiper-slide .txt {
    padding: 100px 0 0 0;
}
.visual .swiper .swiper-slide .txt em {
    overflow: hidden;
    display: block;
}
.visual .swiper .swiper-slide .txt em strong{
    font-size: clamp(13px, 2vw ,20px);
    display: block;
    transform: translateY(30px);
    transition: .7s;
}
.visual .swiper .swiper-slide.swiper-slide-active .txt  em strong{
    transform: translateY(0px);
    transition: .7s;
} 
.visual .swiper .swiper-slide .txt h2 {
    font-size: clamp(32px, 5vw ,70px);
    font-weight: 700;
    margin: 11px 0 15px;
    line-height: 1.3;
    overflow: hidden;
}
.visual .swiper .swiper-slide .txt h2 .line {
    display: block;     
    transform: translateY(90px);
    transition: transform .7s;
}
.visual .swiper .swiper-slide.swiper-slide-active .txt h2 .line {
    transform: translateY(0px);
    transition: transform .7s;
    transition-delay: .3s;
}
.visual .swiper .swiper-slide .txt p {
    overflow: hidden;
}
.visual .swiper .swiper-slide .txt p .line {
    display: block;     
    transform: translateY(60px);
    transition: transform .7s;
}
.visual .swiper .swiper-slide.swiper-slide-active .txt p .line {
    transform: translateY(0px);
    transition: .7s;
    transition-delay: .6s;
}
.visual .swiper .swiper-slide .more {
    opacity: 0;
    transition: 1s;
    transition-delay: 1.3s;
}
.visual .swiper .swiper-slide.swiper-slide-active .more {
    opacity: 1;
}
.visual .swiper .swiper-slide .more a{
    display: inline-block;
    margin: 35px 0 0 0;
    padding: 7px 50px 7px 27px;
    border-radius: 30px;
    border: 1px solid white;
    transition: .5s;
    font-size: clamp(13px, 1.4vw ,15px);
}
.visual .swiper .swiper-slide .more a span {
    position: relative;
}
.visual .swiper .swiper-slide .more a span::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 10px;
    right: -30px;
    top: 4px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 11' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.69225 10.6155L7.9845 9.89625L12.073 5.80775H0V4.80775H12.073L7.9845 0.719251L8.69225 0L14 5.30775L8.69225 10.6155Z' /%3E%3C/svg%3E%0A");
    transition: .5s;
}
.visual .swiper .swiper-slide .more a:hover {
    background-color: var(--white);
    color: var(--tit-c);
    transition: .5s;
}
.visual .swiper .swiper-slide .more a:hover span::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 11' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.69225 10.6155L7.9845 9.89625L12.073 5.80775H0V4.80775H12.073L7.9845 0.719251L8.69225 0L14 5.30775L8.69225 10.6155Z' /%3E%3C/svg%3E%0A");
    transition: .5s;
}
.visual .scroll {
    position: absolute;
    padding: 30px 120px 23px 48px;
    background-color: var(--white);
    right: -1px;
    bottom: -83px;
    color: var(--tit-c);
    border-radius: 0 0 0 30px;
    transform: rotate(90deg);
    transform-origin: right top;
    z-index: 50;
}
.visual .scroll::before,
.visual .scroll::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    left: -29px;
    top: 0px;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 30H0C16.5685 30 30 16.5685 30 0V30Z' /%3E%3C/svg%3E%0A");
    transform: rotate(270deg);
}
.visual .scroll::after {
    left: auto;
    right: 2px;
    top: auto;
    bottom: -29px;
}

.visual .scroll strong {
    position: relative;
    font-size: 15px;
}
.visual .scroll strong::after,
.visual .scroll strong::before {
    position: absolute;
    content: "";
    width: 37px;
    height: 18px;
    border-radius: 30px;
    right: -60px;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #111;
}
.visual .scroll strong::before {
    width: 8px;
    height: 2px;
    border-radius: 30px;
    right: -40px;
    top: 50%;
    transform: translateY(-50%) translateX(10px);
    background-color:  #111;
    animation: scroll_ani 2s infinite;
}

@keyframes scroll_ani {
    0% {
        opacity: 1;
        transform: translateY(-50%) translateX(0px);
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width:1024px){
    .visual .scroll {
        background-color:transparent ;
    }
    .visual .scroll::before,
    .visual .scroll::after {
        display: none;
    }
    
    .visual .scroll strong {
        position: relative;
        font-size: 13px;
        color: var(--white);
    }
    .visual .swiper .swiper-slide .txt p {
        display: none;
    }
    .visual .scroll strong::after,
    .visual .scroll strong::before {
        width: 24px;
        height: 13px;
        border: 1px solid #fff;
    }
    .visual .scroll strong::before {
        width: 3px;
        height: 3px;
        right: -43px;
        background-color: #fff;
    }
    .visual .scroll strong span {
        display: none;
    }
}

.global {
    margin: 197px 0 0 0;
    position: relative;
    height: clamp(650px, 75vw, 1600px);
}

.global .tit h2{
    font-size: var(--titsize);
    font-weight: 700;
    color: var(--tit-c);
    margin: 0 0 11px 0;
}
.global .earth {
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: -20vw;
    top: 10%;
    z-index: -1;
    width: 67vw;
    height: 67vw;
    background: url(../images/main/earth_wrap.svg) no-repeat center center / contain ;
}
.global .earth .earth_img {
	animation: rotate-day 80s linear infinite;
	background-image: url(../images/main/earth_img\ 3.svg);  /* 지도는 인터넷에 세계지도를 다운받으면 많음 */
	background-size: 200%;
	border-radius: 50%;
    height: 85%;
    width: 85%;
	position: absolute;
	z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
@keyframes rotate-day {
	0% { background-position: 100% 0; }
	100% { background-position: -100% 0; }
}
.global .global_count {
    display: flex;
    flex-direction: column;
    gap: 7vw 0;
    position: absolute;
    right: 0;
    top: 20vw;
    width: 50%;
}
.global .global_count .usd {
    margin-left: 70px;
}
.global .global_count .tit strong {
    font-size: clamp(50px , 4vw, 70px) ;
    color: var(--main1-c);
    font-weight: 700;
    position: relative;
}
.global .global_count .tit .unit{
    font-size: clamp(50px , 4vw, 70px) ;
    color: var(--main1-c);
    font-weight: 700;
}

.global .global_count .tit span:not(.unit) {
    margin-bottom: clamp(15px, 2vw, 23px);
    color: var(--tit-c);
}
.global .global_count p {
    width: 70%;
}

@media screen and (max-width:1500px){
    .pc_only {
        display: none;
    }
    .global .global_count .usd {
    margin: 0 0 0 10%;
}
 }
@media screen and (max-width:1024px){
    .global {
        overflow: hidden;
        position: relative;
    }
    .global::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 560px;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        z-index: -1;
    } 
    .global .earth {
        left: auto;
        right: -20vw;
        top: 2vw;
        width: 130vw;
        height: 130vw;
    }
    .global .global_count{
        position: relative;
        width: auto;
        margin-top: 50px;
        top: auto;
    }
    .global .global_count .usd {
        margin: 0px;    
    }
    .global .global_count p {
    width: 100%;
    }
}

 
 .partners {
    margin: 140px 0 0 0;
    overflow: hidden;
 }
  .partners .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 .partners .tit h2 {
    font-size: var(--titsize);
    font-weight: 700;
    color: var(--tit-c);
    line-height: 1.3;
    margin: 0 0 11px 0;
 }
.partners .partner_wrap {
    width: 70%;
    overflow: hidden;
    
} 
.partners .partner_wrap .list ul {
    display: flex;
    gap: 0 clamp(20px, 1.4vw ,50px);
    animation: roll 40s infinite linear;
}

@keyframes roll {
    0% {transform: translateX(0%);}
    100% {transform: translateX(-195.2%);}
}
.partners .partner_wrap .list ul li a {
    display: block;
    background: url(../images/main/partner_logo_01.jpg) no-repeat center center / contain;
    width: clamp(130px, 2vw ,200px);
    height: clamp(70px, 1.2vw ,100px);
    filter: grayscale(1);
    transition: .4s;
}
.partners .partner_wrap .list ul li a.on{
    filter: grayscale(0);
}
.partners .partner_wrap .list ul li.bg2 a {background-image: url(../images/main/partner_logo_02.jpg);}
.partners .partner_wrap .list ul li.bg3 a {background-image: url(../images/main/partner_logo_03.jpg);}
.partners .partner_wrap .list ul li.bg4 a {background-image: url(../images/main/partner_logo_04.jpg);}
.partners .partner_wrap .list ul li.bg5 a {background-image: url(../images/main/partner_logo_05.jpg);}
.partners .partner_wrap .list ul li.bg6 a {background-image: url(../images/main/partner_logo_06.jpg);}

@media screen and (max-width:1024px){
    .partners .wrapper {
    flex-direction: column;
    gap: 17px 0;
    }
    .partners .tit {
        text-align: center;
    }
    .partners .tit br {
        display: none;
    }
    .partners .partner_wrap {
    width: 100%;
    }
    .partners .partner_wrap .list ul li a {
    filter: grayscale(0);
}
}