@import url(common.css);
@import url(default.css);
@import url(font.css);
@import url(layout.css);

.visual {
    width: calc(100% - (var(--ctn-mar) * 2));
    background-color: brown;
    height: calc(100dvh - (var(--header-h) + var(--ctn-mar)));
    border-radius: 50px;
    position: absolute;
    top: var(--header-h);
    left: 50%;
    transform: translate(-50%);
    color: var(--white);
}

.visual .scroll {
    position: absolute;
    padding: 30px 66px 23px 48px;
    background-color: var(--white);
    right: -1px;
    bottom: -80px;
    color: var(--tit-c);
    border-radius: 0 0 0 30px;
    transform: rotate(90deg);
    transform-origin: right top;
}
.visual .scroll::before,
.visual .scroll::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    left: -29px;
    top: 0px;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 30H0C16.5685 30 30 16.5685 30 0V30Z' /%3E%3C/svg%3E%0A");
    transform: rotate(270deg);
}
.visual .scroll::after {
    left: auto;
    right: 2px;
    top: auto;
    bottom: -29px;
}